<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <a class="btn btn-lg btn-primary btn-sm" href="/stores/new">매장 추가</a>
        <a class="btn btn-lg btn-secondary btn-sm" href="/login">로그 아웃</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상점 이름</th>
                <th>지점</th>
                <th>오너</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${stores}">
                <!-- ? : null 이면 표시 안함-->
                <td><a th:href="@{/items(storeId=${store.storeId})}" th:text="${store.storeName}"></a></td>
                <td th:text="${store.branch}"></td>
                <td th:text="${store.owner}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>